Host admin
        Hostname admin
        User sense

Host node1
        Hostname node1
        User sense

Host node2
        Hostname node2
        User sense

Host node3
        Hostname node3
        User sense
